{% extends 'layouts/help_layout.html' %}

{% block title %} mHouse Framework - Help {% endblock %}

{% block content_data %}
<h1 class="page-header">Home Server Documentation</h1>
<p>The mHouse RESTful API is a JSON over REST API to access all the relevant resources
of the mHouse Framework. Every resource is represented with JSON and each URI follows 
the REST specifications and, in some special cases, some queries can be made to filter 
the results.</p> 
<p><a href="{% url 'cloudAPImain' %}">Online Cloud HTTP RESTful API help</a></p>
<p><a href="{% url 'hsHTTPAPImain' %}">Home Server HTTP RESTful API help</a></p>
<p><a href="{% url 'hsCOAPAPImain' %}">Home Server CoAP RESTful API help</a></p>
{% endblock %}