{% extends 'layouts/mainlayout.html' %}
{% load staticfiles %}

{% block custom_styles %}
    <link href="{% static 'css/dash.css' %}" rel="stylesheet">

    <style type="text/css">
        #wellcome{
            color: #fff;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 20px;
        }

        .menubutton{
            cursor: pointer;
        }
    </style>

    <script type="text/javascript">
      
        function presentmenu(menu){

            var d = document.getElementById(menu).style.display;
            if(d == 'none'){
                d = 'block';
            }else
                d = 'none';

            document.getElementById(menu).style.display = d;

        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12 main">
			{% block content_data %}{% endblock %}
                <hr class="">
                <footer class="footer">
                    <p class="pull-right"><a href="#">Back to top</a></p>
                    <p>&copy; 2017 mHouse &middot; 
                        <a href="{% url 'help' %}">Documentation</a> &middot; 
                        <a href="{% url 'homepage' %}#about">About</a>  &middot; 
                        <a href="{% url 'register' %}">Register</a> &middot; 
                        <a href="{% url 'login' %}">Login</a>
                    </p>
                </footer>
		</div>
        
	</div>
</div>
<script type="text/javascript">
    function goToByScroll(id){
        // Remove "link" from the ID
        id = id.replace("link", "");
        // Scroll
        $('html,body').animate({
            scrollTop: $("#"+id).offset().top},
            'slow');
    }
</script>

{% endblock %}
