{% extends 'layouts/dashboard_layout.html' %}
{% load staticfiles %}

{% block title%}{{data.form.name.value}}{% endblock %}

{% block content_data %}
	<h1 class="page-header">
		{{data.form.name.value}}
		<button  class="btn btn-danger button-form js-tooltip pull-right" 
			title="" data-toggle="modal" data-target="#deleteModal">
			DELETE
		</button>
	</h1>
	<table class="table">
		<thead>
			<th>Division ID</th>
			<th>Division Name</th>
			<th>Area</th>
		</thead>
		<tr id="divisionUpdateForm">
			<td>{{data.ele.id}}</td>
			{% for ele in data.form %}
				<td>
					{{ele}}
					<span id="division-{{ele.name}}-err" class="help-block err-div">
						<strong></strong>
					</span>
					<span id="division-non_field_errors-err" class="help-block err-div">
						<strong></strong>
					</span>
				</td>
			{% endfor %}
			<td>
				<button class="btn btn-primary button-form js-tooltip" 
					title="" data-toggle="modal" data-target="#updateModal">
					UPDATE
				</button>
			</td>
		</tr>
	</table>

	<hr class="col-md-12 col-xs-12">
	<h3 class="page-header">Division Devices</h3>
	{% if data.devices %}
		<table class="table table-hover">
			<thead>
				<th>Universal ID</th>
				<th>Device Name</th>
				<th>Device Address</th>
				<th>Device Server</th>
				<th>Device Type</th>
				<th>Services</th>
				<th>Status</th>
			</thead>
			{% for ele in data.devices %}
				<tr class="elementRow">
					<!--<td><input type="checkbox" onclick="checkOptSelected()"></input></td>-->
					<td>{{ele.id}}</td>
					<td>
						<a href="{% url 'deviceDetail' pk=ele.id %}">{{ele.name}}</a>
					</td>
					<td>{{ele.address}}</td>
					<td>{{ele.server}}</td>
					<td>{{ele.device_type}}</td>
					<td>{{ele.services}}</td>
					<td id="stateCol-{{ele.id}}">
						{% if ele.active %}
							<span class="glyphicon glyphicon-ok" style="color: green;" aria-hidden="true"></span>
							<span>Running</span>
						{% else %}
							<span class="glyphicon glyphicon-remove" style="color: red;" aria-hidden="true"></span>
							<span>Down</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="alert alert-info" role="alert">
			You don't have any device on this division.
		</div>	
	{% endif %}
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="text-center" id="info_text">Are you sure you want to delete this division?</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button class="btn btn-danger" 
						onclick="deleteElement('division', {{data.ele.id}},
								redirect, '{{request.get_host}}', '{% url 'divisions' %}', false)">
						DELETE
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="text-center" id="info_text">Are you sure you want to update this division?</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button class="btn btn-primary" 
						onclick="updateElement('division', {{data.ele.id}},
								redirect, '{{request.get_host}}', '{% url 'divisions' %}',
								false, false)">
						UPDATE
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
<script type="text/javascript">
	document.onload = checkAllElementsState("device");
	window.setInterval(checkAllElementsState, 10000, "device");
</script>
{% endblock %}
